
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* header section */

.nav-left{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left:60px;
}
.header-section{
    max-width: 1080px;
    margin: 0px auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navber{
    display: flex;
    
}
.navber li{
    list-style: none;
    margin-right: 28px;

}
.navber a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* banner section */

.banner-section{
    display: flex;
    gap:35px;
}
.banner-content{
    max-width:520px;
    margin-left:50px;
    margin-top:65px;

}
.banner-tital h4{
    color: #3A3A3A;
    font-size: 2.3rem;
    font-weight: bold;
    margin:10px;
}
.banner-description{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
}
.btn-primary{
    background-color:#E02C6D;
    color: white;
    padding:12px 24px;
    border-radius: 41px;
    border: none;
    margin-top: 18px;
    gap: 8px;
    display: flex;
    align-items: center;
}
.banner-section{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position:right bottom;
    background-size:38%;
    margin-right: 30px;
}
.banner-image{
    max-width:420px;
    margin-left: 50px;
    margin-top: 55px;
    margin-bottom: 30px;
}
.banner-image img{
    max-width: 85%;
}
/* companey section */
.company-section{
    display: grid;
    grid-template-columns: repeat(7);
    max-width: 920px;
    height:74px;
    border: 1px solid;
    margin:0px auto;
    margin-top: 60px;
    margin-bottom:60px;
   padding-top: 25px;
}
    .company-logo img{
        margin-right:24px;
        margin-left: 12px;
        
    }

    /* card-section */
    .card-container{
       display: grid;
       grid-template-columns: repeat(3,1fr);
    }

  .card-section{
    max-width: 980px;
    margin: 0px auto;
  }

  
.card-tital{
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    color: rgba(58, 58, 58, 1);
    padding: 20px;
}
  .card{
    width: 275px;
    height:430px;
    background-color:white;
    padding:12px;
    border-radius: 10px;
    border:1px solid #FFFFFF ;
    gap:10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.20);
    
  }

  .card-taital h3{
  color: #18191F;
  font-size: 1.8rem;
  font-weight:500;
  margin:5px;
  }
  .card-prize span{
    color: #000000;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 7px;
  }
  .icon-subtital span{
    color: #5E6366;
    font-weight:500;
    font-size: 0.9rem;
  }
  .card-sub-tital h5 {
    color: #787885;
    font-weight: 600;
    font-size: 0.9rem;
    margin:8px;
  }

  .card-rating{
    display: flex;
    gap: 10px;
    margin-left: 8px;
  }
  .card-icon{
    color: #FB8200;

  }
  .card-image img {
    /* width: 300px;
    height: 240px; */
    width: 100%;
  }
  .btn-small {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 12px;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 50px;
  }

/* products section  */

.products{
  max-width: 980px;
  margin:0px auto;
}
.products{
  margin-top: 100px;
  margin-bottom: 60px;
}
.product-container {
  display: flex;
  gap: 80px;
  margin: 0px auto;
}
.product-image{
  max-width: 440px;
  height: 270px;
}
.product-image img{
  max-width: 100%;
}
.product-description{
  max-width:580px;
  height: 200px;
}
.product-tital h2 {
  color: #0A0826;
  font-weight: bold;
  font-size: 2.2rem;
  margin:6px;
}
.product-subtital p{
  color: #6C6C6C;
  font-size: 1rem;
  font-weight: 700;
}

.button-join{
  color: #FFFFFF;
  background-color: #E02C6D;
  font-size: 1rem;
  font-weight: bold;
  gap: 8px;
  border: none;
  padding: 10px 24px;
  cursor: pointer;
}

/* footer section */

.footer{
  max-width: 1080;
  height: 230px;
  margin: 0px auto;
  background-color:#2c2c54;
  display: flex;
  align-items: center;
}
.footer-section{
  width: 280px;
  height: 139px;
  margin:0px auto;
  
}
.footer-tital h3 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 5px;
}
.footer-sub-tital span, span {
  color: #D9DBE1;
  font-weight: bold;
  font-size: 0.8rem;

}
.span{
  text-align: center;
}

.footer-icon{
  color: #FFFFFF;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size:22px;

}



/* responsive related layout */

@media screen  and (max-width:586px) {
    .banner-section, .nav-section, .navber{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-section{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position:left top;
    background-size:90%;
}
}

@media screen and (min-width:586px) and (max-width:840px) {
     .banner-section, .nav-section{
        flex-direction: column-reverse;
        width: 100%;
    }
      .banner-section{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position:left top;
    background-size:70%;
    margin-left:50px;
}
.banner-image{
    max-width:100%;
}
}
  @media screen and (max-width:586px) {
    .company-section{
        width: 100%;
        grid-template-columns: repeat(2 1fr);
        border: none;
        margin-bottom: 100px;
    }
    .company-logo img{
        margin-right:24px;
        margin-left: 12px;
         gap: 40px;
        padding: 20px;
    } 
  }
  @media screen and (min-width:586px) and (max-width:840px) {
        .company-section{
        width: 100%;
        grid-template-columns: repeat(3 1fr);
        border: none;
    }
     .company-logo img{
        margin-right:24px;
        margin-left: 12px;
         gap: 40px;
        padding: 20px;
    } 
  }

  @media screen and (max-width:586px) {
      .card-container{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       width: 100%;
       margin-left: 80px;
      
    }
    .footer{
      width: 100%;
      margin-left: 30px;
    }
    
    .card-tital h3{
       margin-top: 100px;
    }
  }
  @media screen and (min-width:586px) and (max-width:840px) {
       .card-container{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       width: 100%;
       margin-left:40px;
       }
       .footer{
      width: 100%;
    }
    
  }


  @media screen and (max-width:586px) {
    .product-container{
      flex-direction: column-reverse;
      width: 100%;
      margin-left: 50px;
    }
    .product-description{
      margin-bottom: 80px;
    }
  }

  @media screen and (min-width:586px) and (max-width:880px) {
      .product-container{
      flex-direction: column-reverse;
      width: 100%;
      margin-left:40px;
    }
     .product-description{
      margin-bottom:40px;
    }
  }