
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* header section */

.nav-left{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 20px;
}
.header-section{
    max-width: 1080px;
    margin: 0px auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navber{
    display: flex;
    
}
.navber li{
    list-style: none;
    margin-right: 30px;

}
.navber a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* banner section */

.banner-section{
    display: flex;
    gap:35px;
}
.banner-content{
    max-width:520px;
    margin-left:50px;
    margin-top:65px;

}
.banner-tital h4{
    color: #3A3A3A;
    font-size: 2.3rem;
    font-weight: bold;
    margin:10px;
}
.banner-description{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
}
.btn-primary{
    background-color:#E02C6D;
    color: white;
    padding:12px 24px;
    border-radius: 41px;
    border: none;
    margin-top: 18px;
    gap: 8px;
    display: flex;
    align-items: center;
}
.banner-section{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position:right bottom;
    background-size:38%;
    margin-right: 30px;
}
.banner-image{
    max-width:420px;
    margin-left: 50px;
    margin-top: 55px;
    margin-bottom: 30px;
}
.banner-image img{
    max-width: 85%;
}
